@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');

Header {
    font-family: "Parkinsans", sans-serif;
}

.content-header {
    padding: 0;            
    background: colorBgContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 64px;
}

.content-header h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.logo img {
    width: 55px;
    height: 60px;
}